@import '_vars';

.game-to-ability-list{
  clear: both;
  display: none;
  padding-left: $section-indent;
  border-left: 20px solid #DDFFDD;

  tr.game-to-ability:nth-child(2n){
    background: #F6F6FF;
  }

  tr.game-to-ability td{
    padding: 4px 5px;
  }

  th.name{
    color: black;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    padding: 4px 5px;

    a{
      font-style: normal;
      text-decoration: none;
    }
  }

  td.ability{
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
  }

  td.description{
    vertical-align: middle;
  }

  a.game-name,
  a.ability-name{
    display: block;
    font-variant: small-caps;
    background: #EEE;
    padding: 2px 10px;
    text-decoration: none;
    font-style: normal;
    margin: 3px 0;

    &:hover{
      background: #DEDEDE;
    }
  }
}
