@import '_vars';
@import '_reset';
@import '_common';
@import '_navigation';
@import '_title';
@import '_changelog';

.section-body{
  padding: 0 20px;
}

p.description{
  font-size: 12px;
  font-style: italic;
  padding: 0;
}

ul.game-to-ability-list{
  margin-top: 10px;
  padding-left: 30px;

  a.game-name,
  a.ability-name{
    font-variant: small-caps;
    font-size: 14px;
    background: #EEE;
    padding: 2px 10px;
    text-decoration: none;
    font-style: normal;

    &:hover{
      background: #DEDEDE;
    }
  }

  li{
    font-size: 13px;
    list-style: none;
    line-height: 24px;
  }
}

.category{
  margin: 20px 0;
}
.ability{
  padding-left: 20px;
  margin-bottom: 20px;
}
.category-depth-1{
  background: $container-bg;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.ability h5, .ability h5 a{
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.ability p{
  font-size: 15px;
}

.series{
  margin-top: 20px;
}
.series-body{
  padding-left: 20px;
}

.game{
  margin-bottom: 20px;
}
