@import '_vars';
@import '_reset';
@import '_common';
@import '_navigation';
@import '_title';
@import '_game';
@import '_ability-list';
@import '_preface';
@import '_changelog';

.section-body{
  padding: 0 20px;
}

p.description{
  font-size: 12px;
  font-style: italic;
  padding: 0;
}

.category{
  margin: 20px 0;
}
.ability{
  padding-left: 20px;
  margin-bottom: 20px;
}
.ability-body{
  padding-left: 20px;
}
.category-depth-1{
  background: $container-bg;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}
.ability h5{
  border-bottom: 1px solid #DDD;
  padding-bottom: 3px;
}

.ability h5, .ability h5 a{
  font-size: 24px;
  color: #666;
  font-style: italic;
}

button.show-variants,
button.show-examples,
button.show-description{
	border-width: 0 1px;
    border-style: solid;
    border-color: #666;
    color: black;
    font-family: Monsterrat,calibri,Verdana,sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 1px 0;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
	width: 150px;
	
	&.show-variants{
      background: #FFDDDD;
	}
	
	&.show-variants.toggled{
      background: #FFAAAA;
	}
	&.show-examples{
      background: #DDFFDD;
	}
	&.show-examples.toggled{
      background: #AAFFAA;
	}
	&.show-description{
      background: #DDDDFF;
	}
	&.show-description.toggled{
      background: #AAAAFF;
	}
}

.variants-container{
	display: none;
	padding-left: 20px;
	padding-top: 10px;
	
	span.variant {
		display: table;
		font-size: 15px;
		line-height: 23px;
		background: bisque;
		border-radius: 5px;
		padding: 2px 20px;
		width: auto;
		margin-bottom: 5px;
	}
	span.variant:last-child{
		margin-bottom: 0;
	}
}

.ability p{
  font-size: 15px;
}

.series{
  margin-top: 20px;
}
.series-body{
  padding-left: 20px;
}

.game{
  margin-bottom: 20px;
}

.credits-container{
  ul{
    margin-top: 20px;
    margin-left: 30px;
  }

  li{
    list-style: circle;
    line-height: 22px;
  }
}