<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>~~~~TITLE~~~~</title>
    <meta name="description" content="~~~~DESCRIPTION~~~~">
    <meta name="author" content="~~~~AUTHOR~~~~">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.min.css?v=~~~~VERSION~~~~">
	
	<script src="jquery.min.js"></script>
	<script src="custom.js"></script>
</head>
<body>
<div class="navigation">
    <a href="#title">Title</a> <span>&#9671;</span>
    <a href="#preface">Preface</a> <span>&#9671;</span>
    <a href="#abilities">Abilities</a> <span>&#9671;</span>
    <a href="#games">Games</a> <span>&#9671;</span>
    <a href="#credits">Credits</a> <span>&#9671;</span>
    <a href="#changelog">Changelog</a>
</div>
<span id="title"></span>
<div class="page">
    <div class="title-container section-container">
        <div class="logo">
            <a href="http://retrocade.net">
                <img src="logo.png" alt="Retrocade.net logo"/>
            </a>
        </div>
        <h1>~~~~TITLE~~~~</h1>
        <h2>Last update: ~~~~VERSIONDATE~~~~</h2>
        <h2>Source available on <a href="https://github.com/RetrocadeNet/metroidvania-compendium">Github</a></h2>
        <h2>Completion: 6 games completed</h2>
    </div>
    ~~~~BODY~~~~
</div>
</body>
</html>