<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>~~~~TITLE~~~~</title>
    <meta name="description" content="~~~~DESCRIPTION~~~~">
    <meta name="author" content="~~~~AUTHOR~~~~">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.min.css?v=~~~~VERSION~~~~">
	
	<script src="jquery.min.js"></script>
	<script src="custom.js"></script>
</head>
<body>
<div class="navigation">
    <a href="#title">Title</a>
    <a href="#preface">Preface</a>
    <a href="#abilities">Abilities</a>
    <a href="#games">Games</a>
</div>
<div class="page">
    <div class="title-container section-container">
        <div class="logo">
            <img src="logo.png"/>
        </div>
        <h1>Metroidvania Ability Library V.~~~~VERSION~~~~</h1>
        <h2>Last update: ~~~~VERSIONDATE~~~~</h2>
        <h2>Created and maintained by: <a href="http://retrocade.net">~~~~AUTHOR~~~~</a></h2>
    </div>
    ~~~~BODY~~~~
</div>
</body>
</html>