<div class="changelog">
    <h4>
        <strong>
            Version <%- parseInline(version) %>:
        </strong>
        <%- parseInline(date) %>
    </h4>
    <div class="changelog-body">
        <%- parseBlock(changes) %>
    </div>
</div>